<div class="header">
  <div class="logo-container">
    <link rel="icon" href="/chatlo.jpg" type="image/x-icon" />

    <div class="logo-container">
      <img src="/chatlo.jpg" alt="ChatsApp Logo">

  </div>
    <h2>ChatsApp</h2>
  </div>
  <nav>
    <ul class="menu">
      <li><a routerLink="/features">Features</a></li>
      <li><a routerLink="/privacy">Privacy</a></li>
      <li><a routerLink="/helpcenter">Help Center</a></li>
      <li><a routerLink="/login" class="login">Log in</a></li>
    </ul>
  </nav>

</div>

