<div class="header">
  <div class="logo-container">
    <link rel="icon" href="/chatlo.jpg" type="image/x-icon" />
    <img src="/chatlo.jpg" alt="ChatsApp Logo">
    <h2>ChatsApp</h2>
  </div>
  <nav>
    <ul class="menu">
      <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
      <li><a routerLink="/privacy" routerLinkActive="active">Privacy</a></li>
      <li><a routerLink="/helpcenter" routerLinkActive="active">Help Center</a></li>
      <li><a routerLink="/login" routerLinkActive="active" class="login">Log in</a></li>
    </ul>
  </nav>
</div>

<div class="login-container">
  <h2>Login to ChatsApp</h2>

  <form (ngSubmit)="onSubmit()">
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
        placeholder="Enter your email"
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        required
        placeholder="Enter your password"
      />
    </div>

    <!-- Error Message -->
    <div *ngIf="message" class="error-message">
      {{ message }}
    </div>

    <!-- Submit Button -->
    <button type="submit">Login</button>

    <!-- Register Link -->
    <div class="toggle-link">
      <p>Don't have an account? <a (click)="navigateToRegister()" class="register">Register</a></p>
    </div>
  </form>
</div>
